.App {
  
  width: 100%;
  height: 100vh;
  background-color: rgb(215, 173, 255);
   
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.todoInputContainer{
  display: flex;
  justify-content: center;
  align-items: center;
}

.todoInput{
  width: 400px;
  height: 40px;
  border-radius: 4px;
  padding: 8px;
  font-size: 28pt;
}


.addBtn{
  width: 60px;
  height: 60px;
  font-size: 28pt;
}

.addBtn:hover{
  
}


.todoListContainer{
  width: 600px;
  height: 500px;
  border: 12px solid rebeccapurple;
  padding: 40px;
}

.toDo{
  font-size: 20pt;
}