.App {
  
  width: 100%;
  height: 100vh;
  background-color: blueviolet;
  border: 4px solid yellow;
   
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.todoInputContainer{
  border: 2px solid yellow;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todoInput{
  width: 400px;
  height: 40px;
  border-radius: 4px;
  padding: 8px;
  font-size: 28pt;
}


.addBtn{
  width: 60px;
  height: 60px;
}